/* begin Page */

/* , file checksum is 45962068. */

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #262626;
	background-image: url('../images/Page-BgTexture.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: top left;
}

.Main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}

.PageBackgroundGlare
{
	position: absolute;
	width: 100%;
	height: 844px;
	left: 0;
	top: 0;
}

.PageBackgroundGlareImage
{
	background-image: url('../images/Page-BgGlare.png');
	background-repeat: no-repeat;
	height: 844px;
	width: 923px;
	margin: 0;
}

html:first-child .PageBackgroundGlare
{
	border: 1px solid transparent; /* Opera fix */
}


.PageBackgroundGradient
{
	position: absolute;
	background-image: url('../images/Page-BgGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width:100%;
	height: 239px;
	
}


.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 900px;
	min-width:51px;
	min-height:51px;
}

.Sheet-body
{
	position: relative;
	z-index:1;
	padding: 17px;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl, .Sheet-tc, .Sheet-bc,.Sheet-cr, .Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl
{
	width: 66px;
	height: 66px;
	background-image: url('../images/Sheet-s.png');
}

.Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 33px, 33px, auto);
}

.Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 33px, 33px);
}

.Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(33px, 33px, auto, auto);
}

.Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(33px, auto, auto, 33px);
}

.Sheet-tc, .Sheet-bc
{
	left: 33px;
	right: 33px;
	height: 66px;
	background-image: url('../images/Sheet-h.png');
}

.Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 33px, auto);
}

.Sheet-bc
{
	bottom: 0;
	clip: rect(33px, auto, auto, auto);
}

.Sheet-cr, .Sheet-cl
{
	top: 33px;
	bottom: 33px;
	width: 66px;
	background-image: url('../images/Sheet-v.png');
}

.Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 33px);
}

.Sheet-cl
{
	left:0;
	clip: rect(auto, 33px, auto, auto);
}

.Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 33px;
	left: 33px;
	right: 33px;
	bottom: 33px;
	background-image: url('../images/Sheet-c.png');
}


.Sheet
{
	margin-top: 50px !important;
}

.PageBackgroundSimpleGradient, .PageBackgroundGradient, .PageBackgroundGlare
{
	min-width:900px;
}

/* end Box, Sheet */

/* begin Header */
div.Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 866px;
	height: 172px;
	overflow:hidden;
}

div.Header-png
{
	position: absolute;
	z-index:-2;
	top: 0;
	left: 0;
	width: 866px;
	height: 172px;
	background-image: url('../images/Header.png');
	background-repeat: no-repeat;
	background-position: left top;
}

div.Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 866px;
	height: 172px;
	background-image: url('../images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.logo
{
	display : block;
	position: absolute;
	left: 10px;
	top: 45px;
	width: 246px;
}
.banner
{
	display : block;
	position: absolute;
	right: 10px;
	top: 45px;
	width: 600px;
}
h1.logo-name
{
	display: block;
	text-align: center;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 48px;
	text-decoration: none;
	letter-spacing: -4px;
	padding:0;
	margin:0;
	color: #FDECCE !important;
}

.logo-text
{
	display: block;
	text-align: center;
}

.logo-text, .logo-text a
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 20px;
	padding:0;
	margin:0;
	color: #FDECCE !important;
}
/* end Logo */

/* begin Menu */
/* menu structure */
/*
.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.artmenu, .artmenu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.artmenu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.artmenu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.artmenu li li
{
	float: none;
}

.artmenu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.artmenu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.artmenu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.artmenu:after, .artmenu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.artmenu, .artmenu ul
{
	min-height: 0;
}

.artmenu ul
{
	background-image: url(../images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}*/




/* menu structure */

.artmenu
{
	padding: 12px 6px 0px 6px;
}

.nav
{
	position: relative;
	height: 43px;
	z-index: 100;
}

.nav .l, .nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 43px;
	background-image: url('../images/nav.png');
}

.nav .l
{
	left: 0;
	right:0px;
}

.nav .l ul li{
 float: left;
 padding-right: 10px;
 overflow: hidden;
}


.nav .r
{
	right: 0;
	width: 866px;
	clip: rect(auto, auto, auto, 866px);
}

/*#nav .menu a{
  background-image: url('../images/MenuItem.png');display:block;height:7px;
}*/
/* end Menu */

/* begin MenuItem */

/*
.artmenu ul li
{
	clear: both;
}

.artmenu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 31px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 2px;
	margin-left: 2px;
}


.artmenu a .r, .artmenu a .l
{
	position:absolute;
	display: block;
	height: 93px;
	background-image: url('../images/MenuItem.png');
}

.artmenu a .l
{
	left:0;
	right:4px;
}

.artmenu a .r
{
	width:408px;
	right:0;
	clip: rect(auto, auto, auto, 404px);
}

.artmenu a .t 
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	color: #F7DACA;
	padding: 0 19px;
	margin: 0 4px;
	line-height: 31px;
	text-align: center;
}

.artmenu a:hover .l, .artmenu a:hover .r
{
	top:-31px;
}

.artmenu li:hover>a .l, .artmenu li:hover>a .r
{
	top:-31px;
}

.artmenu li:hover a .l, .artmenu li:hover a .r
{
	top:-31px;
}
.artmenu a:hover .t
{
	color: #F0F0F0;
}

.artmenu li:hover a .t
{
	color: #F0F0F0;
}

.artmenu li:hover>a .t
{
	color: #F0F0F0;
}


.artmenu a.active .l, .artmenu a.active .r, .artmenu li.active-trail .l
{
	top: -62px;
}

.artmenu a.active .t, .artmenu li.active-trail .t
{
	color: #FCDEAC;
}
*/

/* end MenuItem */

/* begin MenuSubItem */
/*
.artmenu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;


	background-image: url('../images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.nav ul li{
  display:block;border:1px solid red;float:right;
}
.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #FCF3ED;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 13px;
}

.artmenu ul ul a
{
	margin-left: auto;
}

.artmenu ul li a:hover
{
	color: #F2F2F2;
	background-position: 0 -20px;
}

.artmenu ul li:hover>a
{
	color: #F2F2F2;
	background-position: 0 -20px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
	color: #F2F2F2;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
	color: #F2F2F2;
}

*/
/* end MenuSubItem */

/* begin ContentLayout */
.contentLayout
{
	position: relative;
	margin-bottom: 3px;
	width: 866px;
}
/* end ContentLayout */

.content-top{
	position: relative;
	margin-bottom: 3px;
	width: 866px;
}

.content-bottom {
	position: relative;
	margin-bottom: 3px;
	width: 866px;
}

/* begin Box, Block */
.Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.Block-body
{
	position: relative;
	z-index:1;
	padding: 0px;
}



.Block
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 0px;
}

.BlockHeader .t
{
	height: 30px;
	color: #000000;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	white-space : nowrap;
	padding: 0 7px;
	line-height: 30px;
}

.BlockHeader .l, .BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('../images/BlockHeader.png');
}

.BlockHeader .l
{
	left:0;
	right:6px;
}

.BlockHeader .r
{ 
	width:886px;
	right:0;
	clip: rect(auto, auto, auto, 880px);
}





.header-tag-icon
{
	display:inline-block;
	background-position:left top;
	background-image: url('../images/BlockHeaderIcon.png');
	padding:0 0 0 21px;
	background-repeat: no-repeat;
	min-height: 14px;
	margin: 0 0 0 5px;
}


/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
}

.BlockContent-body
{
	position: relative;
	z-index:1;
	padding: 8px;
	text-align:justify;
}

.BlockContent-tr, .BlockContent-tl, .BlockContent-br, .BlockContent-bl, .BlockContent-tc, .BlockContent-bc,.BlockContent-cr, .BlockContent-cl
{
	position:absolute;
	z-index:-1;
}

.BlockContent-tr, .BlockContent-tl, .BlockContent-br, .BlockContent-bl
{
	width: 14px;
	height: 14px;
	background-image: url('../images/BlockContent-s.png');
}

.BlockContent-tl
{
	top:0;
	left:0;
	clip: rect(auto, 7px, 7px, auto);
}

.BlockContent-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 7px, 7px);
}

.BlockContent-bl
{
	bottom: 0;
	left: 0;
	clip: rect(7px, 7px, auto, auto);
}

.BlockContent-br
{
	bottom: 0;
	right: 0;
	clip: rect(7px, auto, auto, 7px);
}

.BlockContent-tc, .BlockContent-bc
{
	left: 7px;
	right: 7px;
	height: 14px;
	background-image: url('../images/BlockContent-h.png');
}

.BlockContent-tc
{
	top: 0;
	clip: rect(auto, auto, 7px, auto);
}

.BlockContent-bc
{
	bottom: 0;
	clip: rect(7px, auto, auto, auto);
}

.BlockContent-cr, .BlockContent-cl
{
	top: 7px;
	bottom: 7px;
	width: 14px;
	background-image: url('../images/BlockContent-v.png');
}

.BlockContent-cr
{
	right:0;
	clip: rect(auto, auto, auto, 7px);
}

.BlockContent-cl
{
	left:0;
	clip: rect(auto, 7px, auto, auto);
}

.BlockContent-cc
{
	position:absolute;
	z-index:-1;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background-color: #404040;
}


.BlockContent-body
{
	color:#C9C9C9;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 13px;
}

.BlockContent-body a:link
{
	color: #EBA27A;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
	color: #9E9E9E;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
	color: #FBD99D;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.BlockContent-body ul
{
	list-style-type: none;
	color: #B0B0B0;
	margin:0;
	padding:0;
}

.BlockContent-body li
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 13px;
}

.BlockContent-body ul li
{
	padding:0px 0 0px 13px;
	background-image: url('../images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
	list-style-image:none;
	list-style-type:none;
}

/* end Box, BlockContent */

/* begin Box, Post */
.Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.Post-body
{
	position: relative;
	z-index:1;
	padding: 10px;
}



.Post
{
	margin: 10px;
}

/* Start images */
a img
{
	border: 0;
	padding-top:10px;
}

.article img, img.article
{
	border: solid 1px #363636;
	margin: 1em;
}

.metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin:2px;
}
/* Finish images */

/* Start tables */

.article table, table.article, table
{
	border-collapse: collapse;
	margin: 1px;
	width:100%;
}

.article table, table.article .article tr, .article th, .article td, tr, td, th
{
	background-color:Transparent;
}


.article th, th, td
{
	text-align:left;
	vertical-align:middle;
	padding: 7px;
}

/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.PostHeaderIcon-wrapper
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 24px;
	color: #F2C4AB;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 24px;
	color: #F2C4AB;
}

.PostHeaderIcon-wrapper img
{
	border:none;
	vertical-align: middle;
	margin:0;
}
/* end PostHeaderIcon */

/* begin PostHeader */
.PostHeader a:link
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #EFB495;
}

.PostHeader a:visited, .PostHeader a.visited
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #C2C2C2;
}

.PostHeader a:hover, .PostHeader a.hovered
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #F7B84A;
}
/* end PostHeader */

/* begin PostIcons */
.PostHeaderIcons
{
	padding:1px;
}

.PostHeaderIcons, .PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	color: #FCE6BF;
}

.PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
	margin:0;
}

.PostHeaderIcons a:link
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	color: #EDAB87;
}

.PostHeaderIcons a:visited, .PostHeaderIcons a.visited
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-style: italic;
	font-weight: normal;
	text-decoration: none;
	color: #EDAB87;
}

.PostHeaderIcons a:hover, .PostHeaderIcons a.hover
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-style: italic;
	font-weight: normal;
	text-decoration: underline;
	color: #F9CB7B;
}
/* end PostIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  color: #BFBFBF;
}

.PostContent
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  color: #BFBFBF;
  text-align:justify;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #EDAB87;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #EDAB87;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #9E9E9E;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #F7B84A;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-size: 32px;
  color: #EDAB87;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-size: 24px;
  color: #EDAB87;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-size: 19px;
  color: #FFFFFF;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  color: #BFBFBF;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  color: #BFBFBF;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  color: #BFBFBF;
}
/* Finish Content headings Fonts & Colors  */
/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #A1A1A1;
	margin:1em 0 1em 2em;
	padding:0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 13px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.Post li
{
	padding:0px 0 0px 13px;
	line-height:1.2em;
}

.Post ol li, .Post ul ol li
{
	background: none;
	padding-left:0;
}

.Post ol ul li {
	background-image: url('../images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:13px;
}

.Post ul li {
	background-image: url('../images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:13px;

}
.node-teaser .links ul li{
	background-image: url('../images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:13px;
	float:left;
}
.art-metadata-icons img{
	border: none;
	vertical-align: middle;
	margin: 2px;
	padding:0px;
}

/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote p
{
	color:#FBDAA2;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
}

blockquote
{
		border:solid 1px #7A7A7A; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 41px;
	background-color:#595959;
	background-image:url('../images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */
/* end PostQuote */

/* begin Button */
.Button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:31px;
	margin:0;
	padding:0;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.Button .btn
{
	display:block;
	position:relative;
	float:left;
	height: 31px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	color: #FBECE4;
}

.Button .btn .t
{
	display:block;
	height: 31px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	white-space: nowrap;
	text-align: left;
	padding: 0 13px;
	line-height: 31px;
	text-decoration: none !important;
}

input, select
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-size: 13px;
}

.Button .hover, .Button:hover
{
	color: #242424;
	text-decoration: none !important;
}

.Button .active
{
	color: #F0F0F0;
}

.Button .btn .l, .Button .btn .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 93px;
	background-image: url('../images/Button.png');
}

.Button .btn .l
{
	left:0;
	right:10px;
}

.Button .btn .r
{
	width:409px;
	right:0;
	clip: rect(auto, auto, auto, 399px);
}

.Button .btn.hover .l, .Button .btn.hover .r, .Button .btn:hover .l, .Button .btn:hover .r
{
	top: -31px;
}

.Button .btn.active .l, .Button .btn.active .r
{
	top: -62px;
}


/* end Button */

/* begin Footer */
.Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 866px;
	margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
	position: relative;
	z-index: 0;
	padding: 8px;
	text-align: center;
	overflow:hidden;
}

.Footer .Footer-inner a img
{
  padding-top:0px;
}
.Footer .Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('../images/Footer.png');
	width: 866px;
	height: 150px;
	bottom:0;
	left:0;
}


.rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	/*background-image: url('../images/livemarks.png');
	background-position: center right;
	background-repeat: no-repeat;*/
	margin: 0 5px 0 0;
	height: 25px;
	width: 25px;
}


.comment-published{
  border:1px solid white;
  margin-top:5px;
  padding-left:10px;
  line-height:150%;
}
.contentLayout .comment-published .content {
	position: relative;
	margin-top: 10px;
	padding: 0px;
	border: 0px;
	float: none;
	overflow: hidden;
	
}
.contentLayout .comment-published .contentfull {
	position: relative;
	margin-top: 10px;
	padding: 0px;
	border: 0px;
	float: none;
	overflow: hidden;
}

.contentLayout .comment-published .content p{
	position: relative;
	margin: 0px;
	padding: 0px;
	border: 0px;
	float: none;
	overflow: hidden;
	text-align:justify;
	width:535px;
}
.contentLayout .comment-published .contentfull p{
	position: relative;
	margin: 0px;
	padding: 0px;
	border: 0px;
	float: none;
	overflow: hidden;
	text-align:justify;
	width:865px;
}
.contentLayout .comment-published .content ul.inline {
  margin-left: 0px;
  margin-top:10px;
  display:block;
 
}
.contentLayout .comment-published .contentfull ul.inline {
  margin-left: 0px;
  margin-top:10px;
  display:block;
 
}
.Footer .Footer-text p
{
	margin: 0;
}

.Footer .Footer-text
{
	display:inline-block;
	color:#C4C4C4;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
}

.Footer .Footer-text a:link
{
	text-decoration: none;
	color: #EA9B71;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.Footer .Footer-text a:visited
{
	text-decoration: none;
	color: #9E9E9E;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}

.Footer .Footer-text a:hover
{
	text-decoration: none;
	color: #F6AE31;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	color:#aaa;
}

.page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#aaa;
}
/* end PageFooter */

/* begin LayoutCell */
.contentLayout .contents
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 649px;
}
.contentLayout .contentfull
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 865px;
}
/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .sidebar1
{
	position: relative;
	margin: 0;
	padding: 25px 0px 0px 0px;
	border: 0;
	float: left;
	overflow: hidden;
	width: 216px;
}
/* end LayoutCell */



.contentLayout li
{
	float: none;
}

table.moduletable th
{
	font-size: 140%;
	padding: .5em 0em;
}

#footer
{
	text-align: center;
}

.breadcrumb
{
	display: block;
	padding: .5em 0em;
}

.contentpaneopen span.small, .contentpaneopen td.createdate, .contentpaneopen td.modifydate
{
	font-size: 75%;
	padding-bottom: 1em;
}

.column_separator 
{
	padding-left: .4em;
}

.pagination span
{
	padding: 2px;
}

.pagination a
{
	padding: 2px;
}

div.offline
{
	background: #fffebb;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2em;
	padding: 5px;
}

span.pathway
{
	display: block;
	margin: 0 20px;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
}

/* headers */
table.moduletable th, legend
{
	margin: 0;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1.5em;
	padding-left: 0px;
	margin-bottom: 10px;
	text-align: left;
}

/* form validation */
.invalid
{
	border-color: #ff0000;
}

label.invalid
{
	color: #ff0000;
}


/** overlib **/

.ol-foreground
{
	background-color: #f6f6f6;
}

.ol-background
{
	background-color: #666;
}

.ol-textfont
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.ol-captionfont
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f6f6f6;
	font-weight: bold;
}

.ol-captionfont a
{
	color: #0B55C4;
	text-decoration: none;
	font-size: 12px;
}

/* spacers */
span.article_separator
{
	display: none;
}

.column_separator
{
	padding-left: 10px;
}

td.buttonheading img
{
	border: none;
}

.clr
{
	clear: both;
}

div#maindivider
{
	border-top: 1px solid #ddd;
	margin-bottom: 10px;
	overflow: hidden;
	height: 1px;
}

table.blog span.article_separator
{
	display: none;
}

/* edit button */
.contentpaneopen_edit
{
	float: left;
}

/* table of contents */
table.contenttoc
{
	margin: 5px;
	border: 1px solid #ccc;
	padding: 5px;
	float: right;
}

table.contenttoc td
{
	padding: 0 5px;
}


/* content tables */
td.sectiontableheader
{
	background: #efefef;
	color: #333;
	font-weight: bold;
	padding: 4px;
	border-right: 1px solid #fff;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td
{
	padding: 4px;
}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2
{
	padding: 3px;
}


/* content styles */
table.contentpaneopen, table.contentpane
{
	margin: 0;
	padding: 0;
	width: auto;
}

table.contentpaneopen li
{
	margin-bottom: 5px;
}

table.contentpaneopen fieldset
{
	border: 0;
	border-top: 1px solid #ddd;
}

table.contentpaneopen h3
{
	margin-top: 25px;
}

table.contentpaneopen h4
{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

.highlight
{
	background-color: #fffebb;
}

/* module control elements */
table.user1user2 div.moduletable
{
	margin-bottom: 0px;
}

div.moduletable, div.module
{
	margin-bottom: 25px;
}

div.module_menu h3
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #eee;
	margin: -23px -4px 5px -5px;
	padding-left: 10px;
	padding-bottom: 2px;
}

div.module_menu
{
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

div.module_menu div div div
{
	padding: 10px;
	padding-top: 30px;
	padding-bottom: 15px;
	width: auto;
}

div.module_menu div div div div
{
	background: none;
	padding: 0;
}

div.module_menu ul
{
	margin: 10px 0;
	padding-left: 20px;
}

div.module_menu ul li a:link, div.module_menu ul li a:visited
{
	font-weight: bold;
}

#leftcolumn div.module
{
	padding: 0 10px;
}

#leftcolumn div.module table
{
	width: auto;
}

/* forms */
table.adminform textarea
{
	width: 540px;
	height: 400px;
	font-size: 1em;
	color: #000099;
}

div.search input, input.searchinputbox
{
	width: 145px;
	border: 1px solid #ccc;
	margin: 15px 0 10px 0;
}

form#form-login
{
	text-align: left;
}

form#form-login fieldset
{
	border: 0 none;
	margin: 0;
	padding: 0.2em;
}

form#form-login ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

form#form-login ul li
{
	background-image: none;
	padding: 0;
}

#modlgn_username, #modlgn_passwd
{
	width: 90%;
}

#form-login-username, #form-login-password, #form-login-remember
{
	display: block;
	margin: 0;
}

form#com-form-login
{
	text-align: left;
}

form#com-form-login fieldset
{
	border: 0 none;
	margin: 0;
	padding: 0.2em;
}

form#com-form-login ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

form#com-form-login ul li
{
	background-image: none;
	padding: 0;
}

/* thumbnails */
div.mosimage
{
	margin: 5px;
}

div.mosimage_caption {
	font-size: .90em;
	color: #666;
}

div.caption
{
	padding: 0 10px 0 10px;
}

div.caption img
{
	border: 1px solid #CCC;
}

div.caption p
{
	font-size: .90em;
	color: #666;
	text-align: center;
}

/* Parameter Table */
table.paramlist
{
	margin-top: 5px;
}

table.paramlist td.paramlist_key
{
	width: 128px;
	text-align: left;
	height: 30px;
}

div.message
{
	font-weight: bold;
	font-size: 14px;
	color: #c30;
	text-align: center;
	width: auto;
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	margin: 3px 0px 10px;
	padding: 3px 20px;
}

/* Banners module */

/* Default skyscraper style */
.banneritem img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Text advert style */

.banneritem_text
{
	padding: 4px;
	font-size: 11px;
}

.bannerfooter_text
{
	padding: 4px;
	font-size: 11px;
	background-color: #f7f7f7;
	text-align: right;
}

/* System Messages */
/* see system general.css */

.pagination span
{
	padding: 2px;
}

.pagination a
{
	padding: 2px;
}

/* Polls */
.pollstableborder
{
	margin-top: 8px;
}


.pollstableborder td
{
	text-align: left;
	
}

/* WebLinks */
span.description
{
	display: block;
	padding-left: 30px;
}

/* Frontend Editing*/
fieldset
{
	border: 1px solid #ccc;
	margin-top: 15px;
	padding: 15px;
}

legend
{
	margin: 0;
	padding: 0 10px;
}

td.key
{
	border-bottom: 1px solid #eee;
	color: #666;
}

/* Tooltips */

.tool-tip
{
	float: left;
	background: #ffc;
	border: 1px solid #d4d5aa;
	padding: 5px;
	max-width: 200px;
}

.tool-title
{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text
{
	font-size: 100%;
	margin: 0;
}

/* System Standard Messages */
#system-message
{
	margin-bottom: 20px;
}

#system-message dd.message ul
{
	background: #c3d2e5 url(../../system/images/notice-info.png) 4px center no-repeat;
	border-top: 3px solid #de7a7b;
	border-bottom: 3px solid #de7a7b;
	margin:0px;
	padding-left: 40px;
	text-indent:0px;
}

/* System Error Messages */
#system-message dd.error ul
{
	color: #c00;
	background: #e6c0c0 url(../../system/images/notice-alert.png) 4px center no-repeat;
	border-top: 3px solid #DE7A7B;
	border-bottom: 3px solid #DE7A7B;
	margin: 0px;
	padding-left: 40px;
	text-indent: 0px;
}

/* System Notice Messages */
#system-message dd.notice ul
{
	color: #c00;
	background: #efe7b8 url(../../system/images/notice-note.png) 4px center no-repeat;
	border-top: 3px solid #f0dc7e;
	border-bottom: 3px solid #f0dc7e;
	margin: 0px;
	padding-left: 40px;
	text-indent: 0px;
 }

#syndicate
{
	float: left;
	padding-left: 25px;
}

/* Component Specific Fixes */

#component-contact table td
{
	padding: 2px 0;
}

.breadcrumb img
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.mceToolbarTop {
	white-space: normal;
}

.mceEditor
{
	background: none;
}

#archive-list
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#archive-list li
{
	list-style-type: none;
	background-image: none;
	margin-left: 0px;
	padding-left: 0px;
}

#navigation
{
	text-align: center;
}

.article h3 img
{
	border: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.Footer-text .moduletable
{
	border: none;
	margin: 0;
	padding: 0;
}

.pollstableborder td {
	vertical-align: middle;
}
.tabs li {
	background-image:none !important;
}
tr.even, tr.odd {
  background-color: transparent;
  border-bottom: 1px solid #333333;
}
tbody {
  border-top: 1px solid #333333;
}
thead th {
  border-bottom: 3px solid #333333;
}

.post-tags .field-item {
  float:left;
  margin-right:5px;
  background-color: #EEECEA;
  /*background-image: -moz-linear-gradient(center top , #EEECEA, #EEECEA);*/
  background-repeat: repeat-x;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #CD4517;
  display: inline-block;
  text-shadow: 0 1px 0 #FFFFFF;
  height:18px;
}

.post-tags{
overflow:hidden

}

.post-tags a{
	color:black;
	text-decoration: none;
	padding:0px 6px;
	font-size:15px;
}

.post-tags a:hover{
  background-color:#999999;
	border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height:18px;
} 

.post-tags .field-label {
  display:none;
}

.pager li a {
  color: #F7B84A;
}

#nav {
    clear: both;
    color: #F7DACA;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height:43px;
}
#nav ul {
    /*float: left;*/
    padding-bottom: 0px;
    /*padding-left: 15px;*/
    
    padding-right: 15px;
    padding-top: 0px;
}
#nav li {
    float: left;
    font-weight: 400;
    list-style-type: none;
}
#nav li a {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    
    display: block;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
}
#nav li a:hover, #nav li a:active, #nav a.active {
    color: #FCDEAC !important;background-image: url("../images/MenuItem.png") !important;
    background-position: left bottom;
}
#nav li a .sf-sub-indicator {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    text-indent: -9999px;
}
#nav li li a, #nav li li a:link,#nav li li a:visited {
    background-color: #12263B;
    border-top-width: 0;
    
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    text-transform: none;
    width: 140px;
}
#nav li li a:hover, #nav li li a:active {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #01152A;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    
    background-size: auto auto;
    
}
#nav li ul {
    height: auto;
    left: -9999px;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    width: 160px;
    z-index: 9999;
}
#nav li ul a {
    width: 160px;
}
#nav li ul ul {
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 0;
    margin-top: -35px;
}
#nav li:hover > ul, #nav li.sfHover ul {
    left: auto;
}
#nav ul li.leaf, #nav ul li.expanded, #nav ul li.collapsed {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
#nav ul.menu li {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#nav li.expanded, #nav li.collapsed, #nav li.leaf {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#nav li li a,
#nav li li a:link,
#nav li li a:visited {
  background-color: #292929;
  opacity:0.7;
  background-image:none !important;
  border-top-right-radius:0px !important;
}

#nav li li a:hover,
#nav li li a:active {
  opacity:1;
}
#nav {
  background-image: url('../images/nav.png');
}
/*#nav ul li{
  border:1px 
}*/
#nav ul.menu a{
  background-image: url("../images/MenuItem.png");
  color: #F7DACA;
  display: block;
  margin-right:10px;
  right:19px;
  border-top-right-radius:5px;
    
}

.breadcrumb {
  padding-top: 8px;
}
