/* begin Box, Sheet */
.Sheet-tl
{
	clip: rect(auto 33px 33px auto);
}

.Sheet-tr
{
	clip: rect(auto auto 33px 33px);
}

.Sheet-bl
{
	clip: rect(33px 33px auto auto);
}

.Sheet-br
{
	clip: rect(33px auto auto 33px);
}

.Sheet-tc
{
	clip: rect(auto auto 33px auto);
}

.Sheet-bc
{
	clip: rect(33px auto auto auto);
}

.Sheet-cr
{
	clip: rect(auto auto auto 33px);
}

.Sheet-cl
{
	clip: rect(auto 33px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.nav .r
{
	clip: rect(auto auto auto 866px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a .r
{
	clip: rect(auto auto auto 404px);
}
/* end MenuItem */

/* begin BlockHeader */
.BlockHeader .r
{
	clip: rect(auto auto auto 880px);
}
/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent-tl
{
	clip: rect(auto 7px 7px auto);
}

.BlockContent-tr
{
	clip: rect(auto auto 7px 7px);
}

.BlockContent-bl
{
	clip: rect(7px 7px auto auto);
}

.BlockContent-br
{
	clip: rect(7px auto auto 7px);
}

.BlockContent-tc
{
	clip: rect(auto auto 7px auto);
}

.BlockContent-bc
{
	clip: rect(7px auto auto auto);
}

.BlockContent-cr
{
	clip: rect(auto auto auto 7px);
}

.BlockContent-cl
{
	clip: rect(auto 7px auto auto);
}
/* end Box, BlockContent */

/* begin PostContent */
.PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.Button .btn .r
{
	clip: rect(auto auto auto 399px);
}
/* end Button */

